### Java ###
*.class
*.jar
*.war
*.ear
*.log

### IntelliJ ###
.idea/
*.iml
out/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### OS files ###
.DS_Store
Thumbs.db

### Environment files ###
.env

### Docker ###
*.pid
logs/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


application-prod.properties
