POSTGRES_URL=jdbc:postgresql://postgres:5432/myperseverance
POSTGRES_DB=myperseverance
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=lHKlyLGTmsAral63Z6vJzDfLkxqMgpDgLlcX0NI8Cgc=
CLIENT_ORIGIN_URL=http://localhost:5173