@import "tailwindcss";


.bounce-transform {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  /* normal state */
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.bounce-transform:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 15px rgba(0,0,0,0.25);
}

/* index.css */
html, body, #root {
  @apply bg-blue-50 text-gray-900;
  height: 100%;
  margin: 0;
  padding: 0;
}
