spring.application.name=myperseverance

spring.datasource.url=jdbc:postgresql://localhost:5432/myperseverance_db
spring.datasource.username=myuser
spring.datasource.password=mypassword123

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

jwt.secret=YOUR_JWT_SECRET
